<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeyboardIndicator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KeyboardIndicator.Properties.Settings>
            <setting name="ForeColor" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>PaleTurquoise</value>
            </setting>
            <setting name="OsdLocation" serializeAs="String">
                <value>BottomRight</value>
            </setting>
            <setting name="EnableSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CapsLockOn" serializeAs="String">
                <value>Caps Lock On</value>
            </setting>
            <setting name="CapsLockOff" serializeAs="String">
                <value>Caps Lock Off</value>
            </setting>
            <setting name="ScrollLockOn" serializeAs="String">
                <value>Scroll Lock On</value>
            </setting>
            <setting name="ScrollLockOff" serializeAs="String">
                <value>Scroll Lock Off</value>
            </setting>
            <setting name="NumLockOn" serializeAs="String">
                <value>Num Lock On</value>
            </setting>
            <setting name="NumLockOff" serializeAs="String">
                <value>Num Lock Off</value>
            </setting>
            <setting name="InsertPress" serializeAs="String">
                <value>Insert</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Calibri, 20.25pt</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="HideAnimation" serializeAs="String">
                <value>AW_CENTER</value>
            </setting>
            <setting name="AnimationSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OsdPoint" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OsdStyle" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="UseGlobalConfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OsdBorder" serializeAs="String">
                <value>True</value>
            </setting>
        </KeyboardIndicator.Properties.Settings>
    </userSettings>
</configuration>